@model Brand
<h2>create new item</h2>

<form method="post" asp-controller="home" asp-action="insert">
    
    <input asp-for="Id" hidden />
    <div class="form-group">
        <label asp-for="brand"></label>
        <input asp-for="brand" class="form-control" />
        <span asp-validation-for="brand" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MobileModel"></label>
        <input asp-for="MobileModel" class="form-control" />
        <span asp-validation-for="MobileModel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UsedYears"></label>
        <input asp-for="UsedYears" class="form-control" />
        <span asp-validation-for="UsedYears" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn mt-2 form-control btn-primary">create</button>
        </div>
    </div>
</form>

